.input-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;

    gap: 25px;
}

.inputs-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 100px;

    width: 100%;
    height: 50%;
}

.web-inputs-container {
    overflow: hidden;

    border: solid 3px rgb(0, 0, 0);
    border-radius: 10px;

    height: 55vh;
}

.web-inputs-container .scroll {
    overflow-x: hidden;
    overflow-y: auto; 

    height: 100%;
    width: 100%;

}

.result-button {
    font-size: medium;
}


.jsonfile-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 40%;
    height: 50%;
}