.input-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;

    gap: 25px;
}

.inputs-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 100px;

    width: 100%;
    height: 50%;
}

.web-inputs-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 100%;
}

.result-button {
    font-size: medium;
}
