.web-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 5px;

    border: solid 3px rgb(0, 0, 0);
    border-radius: 10px;
    
    background-color: rgb(211, 211, 211);

    padding: 2px 15px 8px;
}

.web-input input {
   border-radius: 5px;
}

.web-input .text-container {
    font-size: 15px;
    overflow-wrap: break-word;
}