.item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 

    font-size: large;
    background-color: rgb(224, 255, 248);
  
    width: 100%;
}

.item-container p {
    overflow-wrap: break-word;
    inline-size: 150px;
}