.feed {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;

    gap: 10px;
}

.feed .button-container {
    display: flex;
    flex-direction: row;

    gap: 10px;
}

.feed .button-container input {
   border-radius: 5px;
}

.feed .feed-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;

    overflow: hidden;

    width: 120%;

    border: solid 3px rgb(0, 0, 0);
    border-radius: 10px;
    
    background-color: rgb(211, 211, 211);
}

.feed .feed-container .scroll {
    overflow-x: hidden;
    overflow-y: auto; 

    height: 50vh;
    width: 100%;

}